<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>【Java】変数と型の種類</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel ="stylesheet" th:href="@{/blog.css}">
</head>
<body>
<p>Welcome <span th:text="${username}"> </span> </p>
<form action ="/showeditor" method="post">
     <input  type ="hidden" name="userId" th:value="${userId}"/>
	<h1><p th:text="${title}"></p><h1>
	<div>
        <p th:text="${overview}"></p>
		<hr/>
		<pre style="text-align:left;" th:text="${editorcontent}">
		</pre>
	    <input type="submit" id="submit" value="edit" style="color:white; background-color:rgb(128, 128, 255);"/>
	</div> 
	</form>
</div>
</body>
</htmllang ="en" xmlns:th="https://thymeleaf.org"> 