<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>blogweb</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/blogwed.css">
</head>
<body>
<div style="width:800px;height: 800px; margin-left:auto;margin-right:auto;">
    <h1>Blog Editor</h1>
    <form action ="google.com" method="get">
        <table>
            <tr><td><p class="ton"> 标题</p></td>
                <td><input class="ton" type ="text" id="title" name="title" placeholder="请填写标题"/></td>                 
            </tr>
            <tr><td><p class="ton"> 内容介绍</p></td>
                <td><input class="ton" type ="text" id="content" name="title" placeholder="请写内容介绍"/></td>                
            </tr>
            <tr><td><p id="ton">编辑内容</p></td>
                <td><textarea></textarea></td>
            </tr>
                     <tr><td colspan="2"> <input type="submit" id="submit" value="提交" style="color:white; background-color:rgb(128, 128, 255);"></tdcolspan="2"></tr>
           <tr><td colspan="2"><p class="ton">上传图片 </p></td> </tr>               
        
            <tr><td colspan="2"><a href="url"> upload an image from here</a></td>                
            </tr>
        </table>
    </form>
</div>
</body>
</html>