<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>blogweb</title>
<link rel ="stylesheet" href="blogweb.css">
</head>
<body>
<div style="width:800px;height: 800px; margin-left:auto;margin-right:auto;">
    <h1>Blog Editor</h1>
    <form action ="google.com" method="get">
        <table>
            <tr><td><p class="ton"> 标题</p></td>
                <td><input class="ton" type ="text" id="title" name="title" placeholder="请填写标题"/></td>                 
            </tr>
            <tr><td><p class="ton"> 内容介绍</p></td>
                <td><input class="ton" type ="text" id="content" name="title" placeholder="请写内容介绍"/></td>                
            </tr>
            <tr><td><p id="ton">编辑内容</p></td>
                <td><textarea></textarea></td>
            </tr>
            <tr><td colspan="2"><p class="ton">上传图片 </p></td>                
            </tr>
            <tr><td colspan="2"><img src="OIP.jpg" width="400"/><br></td>                
            </tr>
            <tr><td colspan="2"><a href="url"> upload an image from here</a></td>                
            </tr>
        </table>
    </form>
</div>
</body>
</html>