<!DOCTYPE html>

<html lang ="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>page Title</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel ="stylesheet" th:href="@{/login.css}"type="text/css">

</head>
<body>
<div >
<h2>Login</h2>
    <hr>
<form action ="/login" method="post" >

  <label name="errmsg" th:value="${errmsg}">
  <label for ="username"><font size="3px">Username</font></label><br>
    <input class="ton" type ="text" id="username" name="username" placeholder="Enter User name" required><br>
    
    <label for ="Password"><font size="3px"> Password</font></label><br>
    <input class="ton" type ="Password" id="Pwd" name="Pwd"  placeholder="Enter Password" required><br>
    <hr>
    <input type="submit" id="submit"  value="sign in" style="background-color:limegreen;color:white ;"><br>
	<p style="background:rgb(244, 243, 243)"><font size="2px">Have no account yet?<a href="http://localhost:8080/register">Register</a></font></p>
	</form>
</div >
</body>