<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>page Title</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="../static/register.css"/>
</head>
<body>
<div>
	<h2>Register<h2>
	<h5>Please fill in this form to create an account.</h5>
	<hr/> 
	<form action ="google.com" method="get">
	   
		 <lable for ="username"><b>User name</b></lable><br>
	 
		 <input class="ton" type ="text" id="username"  name="username" placeholder="Enter username" required><br>

		 <lable for ="Password"><b>Password</b></lable><br>
	  
		 <input class="ton" type ="password" id="pwd" name="Pwd" placeholder="Enter Password" required><br>
		  
		 <lable for ="Repeat Password"><b>Repeat Password</b> </lable><br>

		 <input class="ton" type ="password"  id="password" name="Repeat Password" placeholder="Repeat Password" required><br>
	   
	 <hr/>
	 <input type="submit" id="submit" value="Register" style="color:white; background-color:limegreen;"><br>
     <p style="background:rgb(244, 243, 243)">Already have an accout? <a href="url"> sign in</a></p>  
    </form> 	 	
</div>
</body>
</html>