<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>【Java】変数と型の種類</title>
<link rel ="stylesheet" href="studyblog.css">

</head>
<div style="width:800px;height: 800px; margin-left:auto;margin-right:auto;">
<h1>javaの勉強<h1>
<div>
    <form action ="google.com" method="get">
        <p><font size="5px">変数と型の種類</font></p>
		<img src="How-to-Download-and-install-Latest-Java-8-Update-241.png"　width=400/>
		<ul  class="pon" style="text-align:left;">
		    <li>データを入れる箱のようなもの</li>
		    <li>そのはこにはじゆうをつけることができる</li>
		    <li>変数を使うためには,これから変数を使いますよーという宣言が必要</li>
		</ul>
		<span class="ton">型の種類</span>
		<hr/>
		<p class="ton">整数</p>
		<hr/>
<pre style="text-align:left;">
さきほど変数名の前に int という単語が表示されていたかと思います。
この int というのは簡単に言うと データの種類で整数型 を意味します。

int number;

というのは
変数名 number という箱に整数が入りますよー
ということなのです。

つまり、小数や文字はこの箱に入ることができません。
整数のみです。
小数や文字を代入したいときは別の型を使う必要があります。

小数や文字の型はあとで説明するとして
さきに整数の型を説明しますね。

int はデータの種類では整数とさきほどお伝えしました。
整数には違いないのですが整数だけでもいろいろと種類があるのです・・・
</pre>
	</form>
</div>
</body>
</html> 