h1{
   background:rgb(34, 228, 108);
	width:600px;
 }
 body{
   cursor:move;
	width:100%;
   height: 550px;
	text-align:center;
 }
 .ton{
    text-align:center; 
 }
 #title,#content,#pon{
     
	width:500px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align:left;
 }
 textarea{
    width:500px;
    height:300px;
 }