h2{
    color:black;
   text-align:left;
 }
  body{
     width: 500px;
     height: 550px;
     padding: 15px;
     text-align:center;
     
  }
  form{
    text-align:left;
     width: 350px;
     height: 350px;
     padding: 15px;
    background-color: white ;
   
  }
 div{
    text-align:left;
     width: 380px;
     height: 530px;
     padding: 15px;
    
 
     position: absolute;
     top: 10px;
     left: 40%;
     margin-left: -100px;
     margin-top: 5px;
 
  
     }
  #submit{
     width: 100%;
     height: 30px;
     border-radius: 4px;
     opacity:0.8;
 
     color: white;
     background-color: rgb(116, 174, 250);
     border:none;
 }
 #username,#pwd,#password{
  
     width: 350px;
     height: 32px;
     border-radius: 5px;
     margin-bottom: 10px;
     border:none;
 
 } 
 .ton{
    color:white; 
    background-color:gainsboro;
 }

 p{
    width: 380px;
    height: 50px;
    text-align:center;
 }
